.calc-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 400px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}